body {
    font-family: 'Lato', sans-serif;
    color: #1c1c1c;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A52A2A;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #FFFFFF;
}

header p{
    margin-bottom: 2em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color:#A52A2A;
    color: #FFFFFF;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;

}

#ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/img01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    color:#FFFFFF;
}

#ofertas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


#contato h2 {
    color: #000000;
}

footer {

    text-align: center;
    padding: 10px;
    color:#FFFFFF;
}

footer a {
    text-decoration: none;
    color: #000000;
}

#cd1{
    width:350px;
}

#cd2{
    width:350px;
}

#cd3{
    width:350px;
    min-height:350px;
}

@media screen and (min-width: 768px){

    nav{

        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #ofertas {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1400px;
        margin: 0 auto;
    }

    #ofertas h2{
        text-align: center;
        width: 100%;
    }

    #ofertas div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
        #contato h2, #contato p{
            width: 100%;
        }
    
}
